@import 'assets/css/colors';

.button {
  padding: 0;
  background-color: transparent;
  border: none;

  &:disabled {
    opacity: 0.5;
  }
  svg {
    stroke: $blue-accent;
    fill: $blue-accent;
  }
}
