@import 'assets/css/colors';
$small: 40px;
$medium: 60px;
$big: 80px;

$sizes: (
  small: $small,
  medium: $medium,
  big: $big,
);

.lds-dual-ring {
  display: inline-block;
  position: relative;

  &:after {
    position: absolute;
    content: ' ';
    display: block;
    border-radius: 50%;
    border-color: $blue-accent transparent $blue-accent transparent !important;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@each $class, $size in $sizes {
  .lds-dual-ring.#{$class} {
    width: $size;
    height: $size;

    &:after {
      top: $size * 0.05;
      left: $size * 0.05;
      width: $size * 0.8;
      height: $size * 0.8;
      border: $size * 0.075 solid $blue-accent;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
