.card {
  &__view {
    padding: 10px 5px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 10px;
      height: clamp(15px, 35px, 35px);
      display: inline-block;
      overflow: hidden;
    }

    .button {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &__description {
      font-size: 12px;
      line-height: 1.2;
      margin-top: 0;
      height: clamp(125px, 125px, 125px);
      overflow: hidden;
    }
  }
}
