@import 'assets/css/colors';
@import 'assets/css/sizes';

.card {
  display: flex;
  min-height: 250px;
  border-radius: $border-radius;
  border: 1px solid $gray30;

  &__image {
    min-width: 150px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius 0 0 $border-radius;
    border-right: 1px solid $gray30;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__content {
    border-left: none;
    border-radius: 0 $border-radius $border-radius 0;
    width: 100%;
  }

  &.reverse {
    flex-direction: row-reverse;

    .card__image {
      border-radius: 0 $border-radius $border-radius 0;
    }

    .card__content {
      border-radius: $border-radius 0 0 $border-radius;
      border-left: 1px solid $gray30;
      border-right: none;
    }
  }
}
