@import 'assets/css/colors';
@import 'assets/css/sizes';

.favorites {
  flex: 0 1 300px;
  @media screen and (max-width: $xl) {
    flex-basis: auto;
  }

  &__header {
    margin-top: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: $spacing-xxs;
    padding-left: 0;

    @media screen and (min-width: $xl) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: $spacing-xxs;
    border: 1px solid $gray30;
    border-radius: $border-radius;
    flex: 0 1 200px;
    max-width: 250px;
    gap: $spacing-xxs;

    @media screen and (min-width: $xl) {
      flex-basis: auto;
      max-width: 300px;
    }

    strong {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .button {
      svg {
        width: 20px;
        height: 20px;
        fill: $bad;
      }
    }
  }
}
