@import 'assets/css/colors';
@import 'assets/css/sizes';

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $blue-accent;
  color: $white;
  padding: $spacing-3xs $spacing-xs;

  &__content {
    display: flex;
    height: 10vh;

    > * {
      display: flex;
      align-items: center;
    }
  }
}
