@import 'assets/css/colors';
@import 'assets/css/sizes';

.text-input {
  font-size: 0.8rem;
  border: none;
  border-bottom: 1px solid $gray40;
  padding: $spacing-xxs;

  &.full-width {
    width: 100%;
  }
}
